body {
    background:#ffa600;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    height:100%;
}

.wrapper {
    width: 800px;
    margin: 30px auto;
    color:#ffffff;
    text-align:center;
}

h1, h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 2.6em;
  text-transform: uppercase;
}

#seconds, #tens{
  font-size:2em;
}

button{
    border-radius: 5px;
    background:#ffa600;
    color: #ffffff;
    border: solid 1px #ffffff;
    text-decoration:none;
    cursor:pointer;
    font-size:1.2em;
    padding:18px 10px;
    width:180px;
    margin: 10px;
    outline: none;
}

button:hover{
	transition-duration: 0.5s;
	background: #ffffff;
	border: solid 1px #ffffff;
	color:#ffa600;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

ul {
  list-style-type: decimal;
  padding: 20px;
  margin-left: 200px;
  margin-right: 200px;
}

ul li {
  background: #eee6cdd2;
  margin: 5px;
  font-size: medium;
}