body { background-color: #f7fafd; }

.calculator {
  width: 400px;
  margin: 20px auto;
  border: none;
  box-shadow: 0 0 10px rgba(96,134,181,.3);
}

#txt-display {
  background-color: #333;
  color: #e2b057;
}

.calculator .card-body .row {
  margin-bottom: 30px;
}

.btn-primary {
  background-color: #6084a4;
  border-color: #6084a4;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:not(:disabled):not(.disabled):active {
  background-color: #345777;
  border-color: #345777;
}